

 .header-piece{
     text-align: center;
     color: white;
     margin-top: 5rem;
 }

 
 .box{
     margin: 20px;
     
 }

 .grid{
     min-width: 100%;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     margin-top: 5rem;
 }

 .grid > div {
     flex-basis: calc(20% - 40px); 
     
 }

 .card-btn{
    border-color: black;
    width: 98.75%;
    
 }

 .card-btn-details{
    margin: 2px;
 }

 .card-btn-favorites{
    margin: 2px;
 }

 .card-btn:hover{
     color: steelblue;
 }

 